// Padrao
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

button {
    padding: 0 16px;
    border: 0;
    border-radius: 8px;
    background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    transition: 400ms;
    cursor: pointer;
    &.cancelar {
        background: #E7EEFB;
        color: #000;
    }
    &.deletar {
        background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
    }
    &:hover {
        opacity: 70%;
    }
}

// Header 
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 27px auto 40px;
    padding-bottom: 28px;
    border-bottom: 1px solid #D7DDE9;
    text-align: center;
    .logo {
        display: block;
    }
    .tituloPrincipal {
        flex: 1;
        font-size: 23px;
        font-weight: 500;
    }
    .data {
        opacity: 54%;
    }
}

// main 
main {
    padding-bottom: 40px;
    .addTarefa {
        display: block;
        margin: 0 auto;
        width: 450px;
        max-width: 90%;
        height: 50px;
    }
    .card {
        margin: 0 auto 20px;
        width: 450px;
        max-width: 90%;
        padding: 32px 32px 10px;
        border: 1px solid #EAECF0;
        border-radius: 16px;
        .top {
            margin-bottom: 22px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            opacity: 54%;
        }
        ul {
            list-style: none;
            margin: 0;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px;
                margin-bottom: 26px;
                border: 1px dashed #D7DDE9;
                border-radius: 8px;
                transition: 400ms;
                cursor: pointer;
                .check {
                    margin-right: 12px;
                    width: 24px;
                    height: 24px;
                    border: 1px solid #D7DDE9;
                    border-radius: 4px;
                }
                .remove {
                    order: 3;
                    width: 24px;
                    height: 24px;
                    background-image: url('/images/trash.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .texto {
                    flex: 1;
                }
                &:hover {
                    border-color: #F7F9FD;
                    border-style: solid;
                    background-color: #F7F9FD;
                }
                &.checked {
                    .check {
                        background-color: #A0DCF6;
                        border-color: #0796D3;
                        &:before {
                            content: url('/images/checked.svg');
                            display: block;
                            margin-left: 4px;
                        }
                    }
                    .texto {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}

// Modal 
.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        filter: blur(20px) opacity(0.8);
        z-index: 10;
    }
}

.modal-content {
    position: relative;
    z-index: 20;
    width: 100%;
    max-width: 450px;
    padding: 32px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 24px 48px -12px #1018282E;
    color: #000;
    .titulo {
        margin-bottom: 28px;
        font-size: 24px;
    }
    label,
    input {
        display: block;
        width: 100%;
    }
    label {
        margin-bottom: 8px;
    }
    input {
        height: 51px;
        padding: 16px;
        margin-bottom: 16px;
        border: 1px solid #D7DDE9;
        border-radius: 8px;
        font-size: 16px;
    }
    button {
        display: inline;
        width: 48%;
        &.cancelar {
            margin-right: 4%;
        }
    }
    p {
        margin-bottom: 32px;
        color: #0000008A;
    }
}

// mobile 
@media screen and (max-width: 768px) {
    header {
        display: block;
        text-align: left;
        .tituloPrincipal {
            font-size: 16px;
            padding: 10px 0;
        }
    }
    .modal-content {
        height: 100vh;
        border-radius: 0;
        button {
            width: 100%;
            &.cancelar {
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
    }
}